@import "../../vars.scss";

.EventListing {
  display: flex;
  align-items: flex-start;
  padding: 12px 10px;
  border-bottom: 1px solid #ddd;
  &:last-of-type {
    border-bottom: 0;
  }
  .main-image {
    height: 85px;
    width: 85px;
  }
  .info {
    margin-left: 10px;
  }
  .title {
    font-size: 1.2em;
    color: $SECONDARY;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .description, .time {
    font-size: 0.8em;
    margin-bottom: 0;
  }
}